@import "./partials/reset";

@import "./partials/fonts";

@import "./partials/variables";

@import "./partials/mixins";

h1 {
  @include titel;
}

h2 {
  @include intro;
}

h3,
.topper_content {
  @include intro;
  margin-bottom: 3rem;
}

@media (min-width: $md) {
  h3,
  .topper_content {
    margin-bottom: 0;
  }
}

p,
label,
input,
button,
select {
  margin-bottom: 0;
  @include reading;
}

.reading_head {
  @include readinghead;
}

a {
  @include link;
}

.tiny {
  @include tiny;
}

header {
  h1 {
    padding-bottom: 1rem;
  }
  padding: 8rem 0 5rem 0;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------CONTAINER---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $md) {
  .split_content {
    display: flex;
  }
}

.main-container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2.5rem 10rem 2.5rem;
  background-size: 7px 7px;
  background-image: linear-gradient(
      to right,
      rgb(242, 242, 242) 0.5px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(242, 242, 242) 0.5px, transparent 1px);

  &.dark {
    background-color: $grijs;
    background-image: linear-gradient(
        to right,
        $griddonker 0.5px,
        transparent 1px
      ),
      linear-gradient(to bottom, $griddonker 0.5px, transparent 1px);
  }
}

@media (min-width: $md) {
  header {
    width: $c-4;
  }
}

@media (min-width: $md) {
  .main-container {
    padding: 0 3rem 10rem 3rem;
  }
}

@media (min-width: $lg) {
  .main-container {
    padding: 0 3.5rem 10rem 3.5rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------NAVIGATIE---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navigatie {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $zwart;
  & > div {
    display: flex;
    align-items: center;
    a {
      white-space: nowrap;
      margin-right: auto;
      @include intro;
      line-height: 1.6em;
      &:hover {
        color: $blauw;
      }
      &.navigation_active {
        color: $blauw;
      }
    }
    .hamburger {
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 17.72'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231d1d1b;stroke:%231d1d1b;stroke-miterlimit:10;stroke-width:2.3px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3ENaamloos-1%3C/title%3E%3Cline class='cls-1' y1='1' x2='30' y2='1'/%3E%3Cline class='cls-1' y1='16.72' x2='30' y2='16.72'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &.hamburger_open {
        background-image: url("data:image/svg+xml,%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.63 22.63'%3E%3Ctitle%3ENaamloos-1%3C/title%3E%3Cline x1='0.71' y1='21.92' x2='21.92' y2='0.71' style='fill:%231d1d1b;stroke:%231d1d1b;stroke-miterlimit:10;stroke-width:1.7px'/%3E%3Cline x1='0.71' y1='0.71' x2='21.92' y2='21.92' style='fill:%231d1d1b;stroke:%231d1d1b;stroke-miterlimit:10;stroke-width:1.7px'/%3E%3C/svg%3E");
      }
    }
  }
  & > ul {
    display: none;
    &.nav_maindropdown_open {
      display: block;
    }

    & > li {
      a {
        @include intro;
        line-height: 1.6em;
        &:hover {
          color: $blauw;
        }
        &.navigation_active {
          color: $blauw;
        }
      }
      .profielsvg {
        display: none;
      }
      span {
        font-family: $hoofdfont;
        border-bottom: none;
      }
      ul {
        display: none;
        &.nav_subdropdown_open {
          display: block;
        }
        li {
          overflow: hidden;
          max-height: 0;
          transition: max-height 500ms ease;
        }
      }
      &:hover {
        li {
          max-height: 150px;
        }
      }
    }
  }
}

.profielsvg {
  stroke: $zwart;
  &:hover {
    stroke: $blauw;
  }
}
.navigation_active {
  color: $blauw;
  svg {
    stroke: $blauw;
  }
}

@media (min-width: 790px) {
  .nav_account {
    border-bottom: none;
  }
  .navigatie {
    display: flex;
    align-items: center;
    div {
      margin-right: auto;
      a {
        display: inline;
      }
      .hamburger {
        display: none;
      }
    }
    & > ul {
      display: flex;
      & > li {
        padding: 0 0.7rem;
        position: relative;
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: 1rem;
        }
        .profielsvg {
          display: inline;
        }
        a span {
          display: none;
        }
        ul {
          position: absolute;
          display: block;
          li {
            overflow: hidden;
            max-height: 0;
            transition: max-height 500ms ease;
          }
        }
        &:hover {
          li {
            max-height: 150px;
          }
        }
      }
    }
  }
}

@media (min-width: 880px) {
  .navigatie {
    & > ul {
      & > li {
        padding: 0 1.2rem;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------FOOTER---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
footer {
  background-color: $grijs;
  min-height: 200px;
  width: 100%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------FORMS---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.input-geboorte {
  color: transparent;
}

div.splitter {
  height: 3rem;
}

.float-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-bottom: 18px;

  label {
    @include reading;
    text-transform: uppercase;
    color: $wit;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all 0.1s ease-in-out; //speed

    &.label-textarea {
      line-height: 0;
    }
  }

  /** active label */
  &.float-active {
    label {
      //move the x coordinate and reduce size
      transform: translate(0, -2px) scale(0.8);
    }
    .input-geboorte {
      color: $zwart;
    }
    textarea {
      margin-top: 0.2em;
      @include reading;
    }
  }
}

input,
select {
  width: 100%;
  padding: 16px 0 0px;
  margin-bottom: 2px;
  background: none;
  border-style: none;
  border-bottom: 1px solid $wit;
  color: $zwart;
}

textarea {
  border-style: none;
  border-bottom: 1px solid $wit;
  background-color: transparent;
  height: 200px;
  width: 100%;
  margin-top: 0;
  transition: all 0.1s ease-in-out;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-image: linear-gradient(60deg, transparent 60%, $zwart 40%),
    linear-gradient(120deg, $zwart 40%, transparent 40%);
  background-position: calc(100% - 12px) 25px, calc(100% - 3.5px) 25px;
  background-size: 8.5px 8.5px;
  background-color: transparent;
  background-repeat: no-repeat;

  -moz-appearance: none;
  display: block;
}
.inputerror {
  border-bottom: 1px solid $lichtoranje;
}
.inputAllertMessage {
  @include tiny($lichtoranje);
  font-weight: 500;
  text-align: right;
}

button {
  background: $groen;
  border-radius: 0;
  border-style: none;
  @include reading;
  font-family: $linkfont;
  color: $wit;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $zwart;
  -webkit-box-shadow: 0 0 0px 1000px $grijs inset;
  box-shadow: 0 0 0px 1000px $grijs inset;
}

.fabmoment-form {
  .float-container {
    label {
      color: $grijs;
    }
  }

  input,
  select {
    border-bottom: 1px solid $grijs;
    color: $zwart;
  }

  select {
    background-image: linear-gradient(60deg, transparent 60%, $blauw 40%),
      linear-gradient(120deg, $blauw 40%, transparent 40%);
    background-position: calc(100% - 12px) 25px, calc(100% - 3.5px) 25px;
  }

  /* Change autocomplete styles in WebKit */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $zwart;
    -webkit-box-shadow: 0 0 0px 1000px $wit inset;
    box-shadow: 0 0 0px 1000px $wit inset;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------MAIN---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//=========================================TOPPER===========================================
.main-topper {
  h1 {
    @include titel;
    color: $zwart;
  }
  .link-button {
    margin-top: auto;
    margin-left: auto;
    width: $c-4;
    a span {
      margin: 0;
      border-bottom: none;
    }
  }
}

@media (min-width: $md) {
  .main-topper {
    width: 100%;
    display: flex;
    & > div {
      width: $c-4;
    }
    h1 {
      @include titel;
      color: $zwart;
    }
    .link-button {
      margin-top: auto;
      margin-left: auto;
      width: $c-2;

      a span {
        margin: 0;
        border-bottom: none;
      }
    }
  }
}

//=========================================EVENTS===========================================

:focus,
:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0px;
}

.event-container {
  h3 {
    line-height: 1.1rem;
  }
  padding: 35px 0 70px 0;
  border-top: 3px solid $lichtgrijs;
}

.event {
  display: block;
  .event-head {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid $lichtgrijs;
    -webkit-box-shadow: 0 4px 6px -6px white;
    -moz-box-shadow: 0 4px 6px -6px white;
    box-shadow: 0 4px 6px -6px white;
    &:hover {
      color: $blauw;
      cursor: pointer;
    }
    p {
      text-transform: uppercase;
    }
    & > p {
      display: block;
      width: $c-2;
    }
    .event-right {
      align-items: center;
      width: $c-6;
      display: flex;
      justify-content: space-between;
    }
  }
  .event-body {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .event-omschrijving {
    margin-bottom: 1.8rem;
  }
  .event-inschrijven {
    padding: 3rem 0 2rem 0;
    right: 0;
    text-align: right;
    a {
      @include tiny;
      color: $blauw;
    }
    button {
      width: $c-4;
    }
  }
}

@media (min-width: $sm) {
  .event-container {
    display: flex;
  }
  .event {
    margin-left: auto;
    width: $c-6;
    .event-head {
      & > p {
        display: block;
        width: $c-2;
      }
      .event-right {
        width: $c-6;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: $md) {
  .event {
    width: $c-4;
  }
}

@media (min-width: $lg) {
  .event {
    .event-head {
      & > p {
        width: $c-2;
      }
      .event-right {
        width: $c-6;
      }
    }
  }
}

//=========================================NIEUWS===========================================

.nieuws {
  border-top: 3px solid $lichtgrijs;
  padding: 35px 0 70px 0;

  & > h3 {
    display: none;
  }
  display: flex;
  justify-content: space-between;

  width: $c-8;
  .nws_allert {
    width: $c-2;
    @include titel;
    line-height: 3.5rem;
    color: $oranje;
    display: block;
  }
  .nws_Content {
    width: $c-6;
    display: block;
  }
}

@media (min-width: $md) {
  .nieuws {
    .nws_allert {
      width: $c-4;
    }
    .nws_Content {
      width: $c-4;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------CONTACT---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contact {
  .contact-topper {
    display: flex;
    width: 100%;
    h1 {
      width: $c-4;
    }
    .contactinfo {
      padding-top: 1rem;
      width: $c-4;
      margin-left: auto;
      p {
        a {
          @include intro;
          border-bottom: none;
          &:hover {
            color: $blauw;
          }
        }
      }
    }
  }
}
.google-map {
  position: absolute;
  border: 0;
  allowfullscreen: "";
  aria-hidden: false;
  tabindex: 0;
  width: 100%;
  height: 400px;
  left: 0;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------ACCOUNT---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.dark {
  button {
    background-color: $blauw;
  }
}

.split_content {
  display: block;
  main {
    display: block;
  }
}

@media (min-width: 880px) {
  .split_content {
    display: flex;
    main {
      padding-top: 10.5rem;
      width: $c-4;
      margin-left: auto;
      button {
        width: $c-4;
        margin-top: 3rem;
      }
      form {
        margin-bottom: 10rem;
      }
    }
  }
}

//=========================================LOGIN===========================================

.login-topper {
  h1 {
    color: $blauw;
  }
  a {
    @include intro;
    border-bottom: 2px solid $blauw;
    &:hover {
      color: $blauw;
    }
  }
}

//=========================================OVERVIEW===========================================

.account-overview {
  padding-top: 2rem;

  h2 {
    @include titel;
    color: $lichtgrijs;
    &:hover {
      color: $wit;
      cursor: pointer;
    }
  }
}

@media (min-width: $md) {
  .account-overview-topper {
    position: absolute;
    padding-bottom: 0;
    margin-bottom: 0;
    h1 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .account-overview {
    padding-top: 8rem;

    h2 {
      width: $c-4;
      color: $lichtgrijs;
      margin-left: auto;
    }
  }
}

//=========================================AGENDA===========================================

.account-event {
  .account-event-box {
    padding: 1rem 0 2rem 0;
  }
  .event-head {
    box-shadow: none;
  }
}

.react-tiny-popover-container {
  background-color: $donker;
  border: 1px solid $oranje;
  padding: 1.5em 2em;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: $c-6;
  height: fit-content;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: $lichtgrijs;
  button {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3em;
    display: block;
    margin-right: 0;
    margin-left: auto;
    background-color: $oranje;
  }
}
.popover-backdrop {
  position: fixed;
  background-color: rgba($color: $donker, $alpha: 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

@media (min-width: $md) {
  .react-tiny-popover-container {
    padding: 2em 3em;
    width: $c-5;
    button {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 3em;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media (min-width: $lg) {
  .react-tiny-popover-container {
    width: $c-3;
  }
}

@-moz-document url-prefix() {
  .react-tiny-popover-container {
    max-height: 16em;
    position: relative;
    button {
      position: absolute;
      bottom: 1.5rem;
      right: 2rem;
    }
  }
  @media (min-width: $sm) {
    .react-tiny-popover-container {
      max-height: 14em;
    }
  }

  @media (min-width: $lg) {
    .react-tiny-popover-container {
      max-height: 14em;
      button {
        bottom: 2rem;
        right: 3rem;
      }
    }
  }
}

//=========================================DROPZONE===========================================

.file-input {
  display: none;
}

.file-display-container {
  width: 100%;
}

.file-name {
  padding-bottom: 1em;
}

.file-status-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .left {
    display: flex;
    align-items: center;
    .detail-img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      display: none;
    }
    span {
      @include reading;

      &.tiny {
        color: $donker;
        padding: 0;
      }
    }
  }
  .file-remove {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    fill: $oranje;
  }
}

.error-button {
  background-color: $oranje !important;
}

.file-error,
.file-error-message,
.error {
  color: $oranje;
}

.error-dark {
  color: $lichtoranje;
}

.upload-box {
  margin-bottom: 1em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $wit;
  &:hover {
    border-color: $blauw;
    cursor: pointer;
    span {
      color: $blauw;
    }
    svg {
      fill: $blauw;
    }
  }
  span {
    color: $wit;
  }
  svg {
    width: 4em;
    height: 4em;
    fill: $wit;
  }
}
.checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 12em;
  justify-items: space-between;
  .checkbox {
    width: 31%;
    display: flex;
    align-items: center;
    input {
      margin: 1em;
      margin-left: 0;
    }
  }
}

.checkbox-titel {
  color: $wit;
  text-transform: uppercase;
}

@media (min-width: $md) {
}

input[type="checkbox"] {
  width: auto;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid $wit;
  border-radius: 50%;
  &:checked {
    background-color: $blauw;
  }
  &:hover {
    cursor: pointer;
  }
}

//=========================================create fabmoment===========================================

.fabform-button-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    width: $c-4;
  }
}

@media (min-width: $md) {
  .my-fabcreation {
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    .dropzone-container {
      width: $c-4;
    }
    .my-fabform-container {
      width: $c-4;

      .input-datum-container {
        width: $c-4;
        margin-left: auto;
      }
    }
  }
}

.omschrijving-container {
  margin-top: 2rem;
}

//=========================================my fabmoment carousel===========================================

.my-fabmoments-carousel {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .fabmoment-card {
    .titel {
      border-bottom: 3px solid $lichtgrijs;
      padding: 0.2em 0 0.4em;
    }
    p {
      margin: 0.3rem 0;
    }
  }

  .upload-box-container {
    width: $c-4;
    padding-bottom: $c-4;
    position: relative;
    height: 0;
    .upload-box {
      left: 0;
      top: 0;
      width: 100%;
      height: 77%;
      position: absolute;
    }
  }
  & > div {
    margin-top: 2rem;
    width: $c-4;
    & > img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: $lg) {
  .my-fabmoments-carousel {
    .upload-box-container {
      width: $c-2;
      padding-bottom: $c-2;
    }
    & > div {
      width: $c-2;
      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------MATERIAAL & PRIJZEN--------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.out_of_stock {
  background-color: $oranje;
  border: 2px solid $oranje;
}
.in_stock {
  border: 2px solid $blauw;
}
.stock_indicator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-bottom: -0.1em;
}

.shop-topper {
  border-bottom: 3px solid $lichtgrijs;
  margin-bottom: 6em;
}

@media (min-width: $md) {
  .shop-topper {
    border-bottom: none;
  }
}

.store-table {
  .store-table-header {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .scat-row {
    border-top: 3px solid $lichtgrijs;
    padding-top: 0.5em;
    padding-bottom: 2em;
    .scat-titel {
      padding-bottom: 0.5em;
    }
    .sub-mat {
      .sub-mat-item {
        display: flex;
        align-items: center;
        .mat-afmeting {
          margin-left: auto;
          width: $c-5;
        }
        .mat-price {
          width: $c-2;
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .store-table {
    .scat-row {
      display: flex;
      padding-top: 0.8em;

      .scat-titel {
        width: $c-3;
      }
      .sub-mat {
        width: $c-5;
        margin-left: auto;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------MACHINES--------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.machine-main {
  border-top: 3px solid $lichtgrijs;
  padding: 6em 0 7em 0;
}

.mcat-container {
  margin-bottom: 5rem;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  .mcat-content {
    .mcat-titel {
      padding-top: 20px;
    }
    .mcat-omschrijving {
      padding-bottom: 1em;
    }
    .machine-item {
      display: flex;
      align-items: center;
      p {
        width: $c-7;
        margin-left: auto;
      }
    }
    button {
      margin-top: 3em;
      display: block;
      margin-left: auto;
      margin-right: 0;
      width: $c-4;
      a span {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: $md) {
  .mcat-container {
    display: flex;
    & > a {
      width: $c-4;
      margin-right: auto;
      img {
        margin: 0;
      }
    }
    .mcat-content {
      width: $c-4;
      .mcat-titel {
        padding-top: 30px;
        border-top: 3px solid $lichtgrijs;
      }
      button {
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------MACHINE-DETAIL-------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.machine-detail-topper {
  button {
    width: $c-4;
  }
}

@media (min-width: $md) {
  .machine-detail-topper {
    button {
      margin-top: 3rem;
    }
  }
}

.machine-detail-main {
  border-top: 3px solid $lichtgrijs;
  padding: 6em 0 7em 0;
}

.mach-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column-reverse;

  .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .mach-content {
    margin-bottom: 1rem;
    .mach-titel {
      display: flex;
      align-items: center;
      padding-top: 1em;
      margin-bottom: 0.5rem;
      .stock_indicator {
        width: 1.2rem;
        height: 1.2rem;
        border-width: 2px;
      }
      h2 {
        margin-bottom: 0;
        width: $c-7;
        margin-left: auto;
      }
    }
    .mach-omschrijving {
      padding-bottom: 1em;
    }
    span {
      margin-top: 1em;
      text-transform: uppercase;
      display: block;
    }
  }
}

@media (min-width: $md) {
  .mach-container {
    display: flex;
    flex-direction: row;

    .mach-visuals {
      width: $c-4;
      margin-right: auto;
    }
    .mach-content {
      width: $c-4;
      .mach-titel {
        padding-top: 30px;
        border-top: 3px solid $lichtgrijs;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------FABMOMENTS---------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//=========================================Topper===========================================

.fabmoments-topper {
  .fabmoments_titel {
  }
  .fabmoment-form {
    button {
      margin-top: 2.5rem;
      width: 100%;
    }
  }
}

//=========================================paginator===========================================

.paginate {
  margin-top: 2rem;
  .pagination-label {
    @include intro;
    display: block;
    color: $grijs;
  }
  .page-nrs {
    display: block;
    a {
      @include intro;
      padding: 0.3em;
      padding-left: 0em;
      margin-right: 1.5rem;
      &:hover {
        color: $blauw;
        cursor: pointer;
      }
    }
  }
}

.paginate-lg {
  display: none;
}
.paginate-bottom {
  display: block;
  width: 100%;
  margin-top: 3em;
}

@media (min-width: $md) {
  .paginate-lg {
    display: block;
  }
  .paginate-sm {
    display: none;
  }
  .fabmoments-topper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .fabmoments_titel {
      width: $c-4;
    }
    .fabmoment-form {
      width: $c-4;
      padding-top: 1.7rem;
    }
  }
}

@media (min-width: $lg) {
  .fabmoments-topper {
    .fabmoment-form {
      margin-left: auto;
      width: $c-2;
    }
  }
}

//=========================================overview===========================================
.fabmoment-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .fabmoment-card {
    margin-bottom: 5rem;
    width: 100%;
    img {
      width: 100%;
      cursor: pointer;
    }
    .fabmoment-titel {
      padding: 1em 0 0.5em 0;
      border-bottom: 3px solid $lichtgrijs;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      &:hover {
        color: $blauw;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: $md) {
  .fabmoment-overview {
    .fabmoment-card {
      width: $c-4;
    }
  }
}

//=========================================detail===========================================

.fab-detail-omschrijving {
  white-space: pre-wrap;
}

.fabmoment-carousel {
  position: relative;
  width: 100%;
  height: 60vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  svg {
    width: 3em;
    height: 3em;
    fill: $zwart;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    &:hover {
      fill: $blauw;
      cursor: pointer;
    }
    &.carousel-prev {
      left: 0;
    }
    &.carousel-next {
      right: 0;
    }
  }
}

@media (min-width: $md) {
  .fabmoment-detail-container {
    display: flex;
    .fabmoment-carousel {
      width: $c-4;
      margin-right: auto;
    }
    .fab-detail-content {
      width: $c-4;
    }
  }
}

button {
  a {
    color: $wit !important;
  }
  span {
    color: $wit !important;
  }
}

button:hover {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
}
