// flex

@mixin flex($richting: row, $hoofdas: flex-start, $kruisas: flex-start) {
  display: flex;
  flex-direction: $richting;
  justify-content: $hoofdas;
  align-items: $kruisas;
}

//fonts

@mixin titel($size: 4.5rem, $lineheight: 4.5rem, $color: $groen) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 700;
  letter-spacing: -0.3rem;
  color: $color;
  font-family: $hoofdfont;
  text-transform: capitalize;
}

@mixin subtitel($size: 4.5rem, $lineheight: 4.5rem, $color: $blauw) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 700;
  letter-spacing: -0.3rem;
  color: $color;
  font-family: $hoofdfont;
  text-transform: capitalize;
}

@mixin intro($size: 1.6rem, $lineheight: 2rem, $color: $zwart) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;
}

@mixin readinghead($size: 0.9rem, $lineheight: 1.8rem, $color: $zwart) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;
  text-transform: uppercase;
}

@mixin reading($size: 0.9rem, $lineheight: 1.8rem, $color: $zwart) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;
}

@mixin link($size: 0.9rem) {
  font-size: $size;
  padding-bottom: 0;
  margin: 0;
  color: $zwart;
  &:hover {
    text-decoration: none;
    color: $blauw;
  }
  span {
    font-family: $linkfont;
    padding-bottom: 0;
    border-bottom: 1px solid $blauw;
  }
}

@mixin tiny($color: $grijs) {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;
}
