// flex

@mixin flex($richting: row, $hoofdas: flex-start, $kruisas: flex-start) {
  display: flex;
  flex-direction: $richting;
  justify-content: $hoofdas;
  align-items: $kruisas;
}

//fonts

@mixin titel($color: $zwart) {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: $color;
  font-family: $hoofdfont;
  text-transform: capitalize;

  @media (min-width: $sm) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  @media (min-width: $md) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

@mixin subtitel($color: $blauw) {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: $color;
  font-family: $hoofdfont;
  text-transform: capitalize;

  @media (min-width: $sm) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  @media (min-width: $md) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

@mixin intro($color: $zwart) {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;

  @media (min-width: $md) {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

@mixin readinghead($color: $zwart) {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;
  text-transform: uppercase;

  @media (min-width: $sm) {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@mixin reading($color: $zwart) {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;

  @media (min-width: $sm) {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@mixin link {
  font-size: 0.9rem;
  padding-bottom: 0;
  margin: 0;
  color: $zwart;
  &:hover {
    text-decoration: none;
    color: $blauw;
  }
  span {
    font-family: $linkfont;
    padding-bottom: 0;
    border-bottom: 1px solid $blauw;
  }

  @media (min-width: $sm) {
    font-size: 1rem;
  }
}

@mixin tiny($color: $grijs) {
  font-size: 0.7rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: $color;
  font-family: $hoofdfont;

  @media (min-width: $sm) {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}
