// variables binnen fablab_eindwerk

// kleuren
$wit: white;
$lichtgrijs: #e3e3e3;
$grijs: #6b6b6b;
$donker: #232323;
$zwart: black;

$blauw: #0f5ad3;
$groen: #00c487;
$oranje: #f9684b;

// fonts
$hoofdfont: "IBM Plex Sans", Geneva, sans-serif;

$linkfont: "IBM Plex Mono", monospace;
