// variables binnen fablab_eindwerk

// kleuren
$wit: white;
$lichtgrijs: #e0e0e0;
$grijs: #6b6b6b;
$donker: #232323;
$zwart: black;

$blauw: #0f5ad3;
$groen: #00c487;
$oranje: #f9684b;

// fonts
$hoofdfont: "IBM Plex Sans", Geneva, sans-serif;

$linkfont: "IBM Plex Mono", monospace;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

// cols

$c-1: 11.25%;
$c-2: 23.75%;
$c-3: 36.25%;
$c-4: 48.75%;
$c-5: 61.25%;
$c-6: 73.75%;
$c-7: 86.25%;
$c-8: 100%;
