// variables binnen fablab_eindwerk

// kleuren
$wit: white;
$zwart: black;
$donker: #232323;
$blauw: #0f5ad3;
$groen: #00c487;
$oranje: #ef7c2e;
$dblauw: #004c68;

// fonts
$titelfont: "IBM Plex Sans", Geneva, sans-serif;
$hoofdfont: "Noto Sans", Arial, sans-serif;
